@import "../generals/colors";

.ca_banner {
  margin-top: 80px;
  padding: 80px 0;
  @media screen and (max-width: 980px) {
    padding: 40px 0;
  }

  &__wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    @media screen and (max-width: 980px) {

    }

    .section-title {
      text-align: center;
      margin-bottom: 20px;
      max-width: 640px;
      @media screen and (max-width: 980px) {
        margin-bottom: 16px;
      }
    }

    .section-text {
      text-align: center;
      margin-bottom: 160px;
      max-width: 640px;
      @media screen and (max-width: 980px) {
        margin-bottom: 64px;
      }
    }

    &__logos {
      width: 100%;
      display: flex;
      //flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 980px) {
        flex-wrap: wrap;
      }

      img {
        margin-right: 100px;
        object-fit: contain;
        @media screen and (max-width: 980px) {
          margin: 0;
          max-width: calc(50% - 12px);
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }

    .ca_banner_card {
      position: absolute;
      display: block;
      object-fit: contain;
      @media screen and (max-width: 980px) {
        display: none;
      }

      &.card-0 {
        left: 0;
        top: -40px;
      }

      &.card-1 {
        right: 0;
        top: 20%;
      }

      &.card-2 {
        left: 5%;
        top: 45%;
      }
    }
  }


}